/**** Estilos Generales ****/

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 7em;
  overflow-x: hidden;
}

/**** Vista Splash ****/

body.splash {
  height: 100vh;
  background: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  align-items: center;
}

.slow-title {
  color: #fff;
  font-weight: 400;
  font-size: 4em;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.splash-view {
  margin-left: 8.5vw;
  text-align: center;
}

.subtitle {
  color: #fff;
  text-align: center;
  padding: 0;
  font-size: 2em;
}

/**** Home ****/

aside>a {
  display: inline-block;
}

article {
  margin: 2.6%;
  padding: 3%;
  padding-top: 1%;
  margin-bottom: 5%;
  box-shadow: 6px 6px 8px #777;
  border: 1px solid rgba(0, 0, 0, .06);
}

article>h2 {
  margin-top: 5%;
}

article img {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 20px;
}

article p {
  font-size: 1em;
}

aside {
  background-color: lightblue;
  text-align: center;
  padding-top: 40px;
  height: 100%;
}

aside.profile-aside {
  height: 100%;
}

button.close>span {
  font-size: 25px;
  color: #ffffff;
}

div.input-group {
  margin-top: 10%;
}

footer {
  background-color: #222222;
  color: lightblue;
  font-weight: 700;
  padding: 20px;
  text-align: center;
}

h1.news-title {
  padding: 2.8% 0 0 3%;
  color: lightblue;
  font-size: 3em;
  font-weight: 400;
}

img.profile-aside-pic {
  width: 80%;
  height: 80%;
  border-radius: 100%;
}

#addFriend:hover {
  color: #ffffff;
}

/* Elementos centrados vertical y horizontalmente */

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lefted {
  display: flex;
  justify-content: left;
  align-items: top;
}

/* Sección amigos */

.friends-friends-section{
  padding-bottom: 4em;
  border-radius: 100%;
}
.friends-friends-section img {
  margin: 2em;
  border-radius: 100%;
}

.friends-section {
  background-color: #333;
  padding-bottom: 3.5em;
}

.friends-section a h6 {
  margin-top: 2px;
  margin-bottom: 14px;
}

.friends-section img {
  margin: 2em;
  border-radius: 100%;
}

.light-weight {
  font-weight: 300;
}

/* Barra de navegación */

.navbar {
  margin-bottom: 0px;
  padding: 30px 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar-inverse .navbar-nav>li>a {
  color: #cecece;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: lightblue;
}

.padd-marg-1 {
  padding: 1%;
  margin: 1%;
}

/* Estilos desde js > red de laboratorians */

.photo-gallery {
  margin: 3% 0 3% 10%;
}

.pic-style {
  width: 75%;
  height: 75%;
  padding-left: 0;
  min-height: 60px;
  min-width: 60px;
}

.profile-title, .bio {
  color: #3a3a3a;
}

.weight-700 {
  font-weight: 700;
}

.white {
  color: #ffff;
}

/**** Vista "log in" ****/

body#logIn {
  padding-top: 0;
  color: #222222;
  background: lightblue;
  overflow-x: hidden;
}

span.glyphicon.glyphicon-user, span.glyphicon.glyphicon-asterisk {
  color: lightblue;
}

/* Nombre, e-mail */

form {
  margin-top: 5%;
  width: 75vw;
  max-width: 500px;
}

form#init {
  margin-top: 0;
}

/* Estilos flecha para regresar */
.arrow-style{
	color: gray;
  font-size: 1.5em;
  padding: 1.4em;
  text-decoration: none;
  display: flex;
  align-items: bottom;
  justify-content: left;
}
/* Estilos de flecha al interactuar con mouse */
.arrow-style:hover{
	cursor: pointer;
	color: #ffffff;
  text-decoration: none;
}

/* Términos*/

.small-letter {
  font-size: .9em;
  padding: 3%;
}

/*** SECCIÓN LABORATORIANS ***/

input.form-control {
  border-color: #cecece;
}

img {
  padding: 2%;
}

#margin-0 {
  margin: 0;
}

.container-data-modal {
  width: 100%;
  margin-bottom: 10px;
}

.figure-size {
  width: 90%;
  height: 200px;
  margin-bottom: 10px;
}

.glyphicon-search {
  color: #cecece;
}

.input-group-addon {
  background-color: #0D1218;
  border-color: #cecece;
}

.item-text-style {
  font-size: 1em;
  color: #cecece;
}

.margin-top {
  margin-top: 1.5em;
}

/**** Modales por alumna ****/

.modal-name-title {
  text-align: center;
  font-size: 2em;
}

.modal-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.modal-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.modal-item {
  width: 50%;
  height: 100px;
}

.modal-origin-title {
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
}

.modal-title-style {
  color: lightblue;
  font-weight: 700;
}

div.modal-header, div.modal-body {
  background: #222222;
}

/* Mouseover*/

.mouseOpacity {
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  padding-right: 5%;
  min-height: 60px;
  min-width: 60px;
  margin-left: 5%;
  background: rgba(0, 8, 0, .8);
  border-radius: 7%;
}

.msOver-text {
  font-size: -8em;
  text-transform: uppercase;
  padding-bottom: 0;
  color: #fff;
}

/**** Home > Postear ****/

.new-post-container {
  background-color: white;
  box-shadow: 6px 6px 8px #777;
  margin: 2% 2.5% 1% 3%;
}

.post-body, .post-title {
  width: 94%;
  margin: 3% 2vw 0 1vw;
  font-size: 1.2em;
}

.post-title {
  height: 5vh;
  border: none;
  background-color: white;
}

.post-body {
  border: none;
  background-color: white;
}

.padding-0 {
  padding: 0;
}

.relPosition {
  position: relative;
}

.visibility-hidden {
  visibility: hidden;
}

/**** Home > Comentar ****/
.comment-input {
  border:none;
  background-color:white;
  color: gray;
  width: 94%;
  font-size: 1em;
  box-shadow: 1px 1px 3px #777;
}

/* Galería de fotos (amigas) en móvil*/

@media (max-width:768px) {
  .photo-gallery {
    margin: 0;
  }
  .pic-style {
    display: inline-block;
    width: 50%;
    height: 50%;
  }
  #footer-logo {
    width: 100px;
  }
}

/* Logo footer tablet> desktop*/

@media (min-width:768px) {
#footer-logo {
  width:13%;
}

}
